#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background-color: lightgray;
	color: #222;
}

.app {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button,
input,
select {
	padding: 0.5rem;
	outline: none;
	border: none;
	background-color: #333;
	color: #fff;
	transition: 0.2s;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

.btn_add:hover {
	cursor: pointer;
	background-color: cornflowerblue;
	color: #222;
}

button:hover,
input:hover,
select:hover {
	background-color: #444;
}

::placeholder {
	color: #aaa;
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
